html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* checkbox css */
.list-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 10px;
}
.checked-item,
.not-checked-item {
  margin-left: 10px;
}
/* .checked-item {
  text-decoration: line-through;
} */
.check-show{
  margin-top: 10px;
}
