html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* checkbox css */
.list-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 10px;
}
.checked-item,
.not-checked-item {
  margin-left: 10px;
}
/* .checked-item {
  text-decoration: line-through;
} */
.check-show{
  margin-top: 10px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 420px) {
  .container {
    width: 100%
  }
  .home {
    width: 95%
  }
  .create {
    width: 100%
  }
  .radio-box{
    width: 60%
  }
  .radio{
    display: flex;
    flex-direction: row;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 420px ) {
  .container {
    width: 100%
  }
  .home {
    width: 95%
  }
  .create {
    width: 100%
  }
  .radio{
    display: flex;
    flex-direction: row;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 568px) {
  .container {
    width: 70%
  }
  .home {
    width: 95%
  }
  .create {
    width: 80%
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 792px) {
  .container {
    width: 60%
  }
  .home {
    width: 95%
  }
  .create {
    width: 60%
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1000px) {
  .container {
    width: 50%
  }
  .home {
    width: 95%
  }
  .create {
    width: 50%
  }
}